table {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  border-collapse: collapse;
  font-family: 'Lato', sans-serif;
  color: gray;
}

td {
  width: 33%;
  border: 3px solid #B0B0B0;
  height: 33%;
  text-align: center;
  font-size: 40px;
}

td[class^="top"] {
  border-top: none;
}
td[class^="bottom"] {
  border-bottom: none;
}
td[class$="right"] {
    border-right: none;
}

td[class$="left"] {
    border-left: none;
}
.flash {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}
.btn {
  display: block;
  margin: 10px auto;
}
